<table class="table tabela ">
	<thead class="thead-inverse">
		<tr>
			<th>#</th>
			<th>Primeiro Nome</th>
			<th>Ultimo Nome</th>
			<th>Email</th>
			<th>Especialidade</th>
			<th>Ativo</th>
			<th>Ocupado</th>
			<th>Editar</th>
			<th>Excluir</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let medico of medicos">
			<th scope="row"> {{medico.codigo}} </th>
			<td>{{medico.nome}}</td>
			<td>{{medico.ultimoNome}}</td>
			<td>{{medico.email}}</td>
			<td>{{medico.especialidade}}</td>
			<td>{{medico.ativo ? 'Sim':'Nao'}}</td>
			<td>{{medico.ocupado ? 'Sim':'Nao'}}</td>
			<td><button type="submit" class="btn btn-primary" (click)="atualizar(medico.codigo)">Editar</button>
			<td><button type="submit" class="btn btn-danger" (click)="deletar( medico )">Excluir </button></td>
		</tr>
		
	</tbody>
</table>






