<table class="table tabela ">
	<thead class="thead-inverse">
		<tr>
			<th>#</th>
			<th>Primeiro Nome</th>
			<th>Ultimo Nome</th>
			<th>Email</th>
			<th>Ativo</th>
			<th>Ocupado</th>
			<th>Editar</th>
			<th>Excluir</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td>Mark</td>
			<td>Otto</td>
			<td>exemplo@mdo.com</td>
		    <td>
			  <input type="checkbox" checked="checked" disabled>
			</td>
			
			<td>
		       <input type="radio" name="optionsRadios"
	           id="optionsRadios3" checked="checked" disabled />
			</td>
			<td><button type="submit" class="btn btn-primary">Editar</button>
			<td><button type="submit" class="btn btn-danger">Excluir </button></td>
		</tr>
		<tr>
			<th scope="row">2</th>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>exemplo@mdo.com</td>
			
			<td>
		      <input type="checkbox" checked="checked"  disabled>
			</td>
			
			<td>
			    <input type="radio"  name="optionsRadios"
						id="optionsRadios3" checked="checked" disabled />
			</td>
			<td><button type="submit" class="btn btn-primary">Editar</button>
			<td><button type="submit" class="btn btn-danger">Excluir </button></td>
		</tr>
		<tr>
			<th scope="row">3</th>
			<td>Larry</td>
			<td>the Bird</td>
			<td>teste@twitter.com</td>
			<td>
		     <input type="checkbox" checked="checked"  disabled>
			</td>
			
			<td>
				<input type="radio" class="" name="optionsRadios"
						id="optionsRadios3" checked="checked" disabled />
			</td>
			
			<td><button type="submit" class="btn btn-primary">Editar</button>
			<td><button type="submit" class="btn btn-danger">Excluir </button></td>
		</tr>
	</tbody>
</table>





