<form #frm="ngForm" (ngSubmit)="cadastra( frm )" autocomplete="off" name="formulario" >
<div class="container">

<div  class="alert alert-info margin-20 " role="alert" [ngClass]="{'display-none':msg == null}">
    <strong>{{msg}}</strong> 
</div>
 <input [(ngModel)]="medico.codigo"  type="hidden"   id="codigo" name="codigo"/>
<div class="alert alert-success col-mod-12 formulario">
    
	<div class="form-group">
		<label for="exampleInputPassword1"> <strong>Primeiro Nome</strong> </label> 
		<input [(ngModel)]="medico.nome"  type="text" class="form-control" id="PrimeiroNome" name="nome"
			placeholder="Primeiro Nome"  >
	</div>
	
		<div class="form-group">
		<label for="Segundonome"><strong> Segundo Nome </strong></label> 
		<input  [(ngModel)]="medico.ultimoNome" type="text" class="form-control" id="exampleInputPassword1" name="ultimoNome"
			placeholder=" Segundo nome"  >
	</div>

	<div class="form-group">
		<label for="exampleInputEmail1"><strong> Email </strong> </label> 
		<input [(ngModel)]="medico.email" type="email" class="form-control" id="exampleInputEmail1" name="email"
			aria-describedby="emailHelp" placeholder="Entre com uma  email" > 
	</div>
{{medico.sexo}}
	<div class="form-group">
		<label for="sexoselec"><strong> Sexo </strong></label> 
		<select #selecionarSexo class="form-control" id="sexoselec"  name="sexo" [(ngModel)]="medico.sexo" >
			<option *ngFor="let s of sexo" [value]="s.sexo" (ngModel)="medico.sexo"  >
			   {{s.label}}
			</option>
			
		</select>
	</div>
	{{medico.especialidade}}
  <div class="form-group">
		<label for="espe"><strong> Especialidade </strong></label> 
		<select #selecionarEspecialidade class="form-control" id="espe"  name="especialidade" [(ngModel)]="medico.especialidade"  >
			<option *ngFor="let m of especialidades" [value]="m.codigo" (ngModel)="medico.especialidade"    >
			   {{m.label}}
			</option>
			
		</select>
	</div>

	<div class="form-check">
		<label class="form-check-label">
		 
		<input type="checkbox" class="form-check-input" [(ngModel)]="medico.oculpado" [value]="medico.oculpado"  name="oculpado"> 
		<strong> Oculpado </strong>
		</label>
	</div>

	<div class="form-check">
		<strong> Ativo </strong> <br>
		<label class="form-check-label"> </label>
		<input type="radio" class="form-check-input" value="true" name="ativo" [(ngModel)]="medico.ativo" >
        <strong> Sim </strong>
		
		<label class="form-check-label"> </label>
		<input type="radio" class="form-check-input" value="false" name="ativo"  [(ngModel)]="medico.ativo" >
        <strong> Nao </strong>
		
	</div>
		 <button  type="submit" class="btn btn-primary"  >Cadastrar</button>
		 <button routerLink="/listar" type="button" class="btn btn-defualt"  > Voltar </button>
	</div>
	
	</div>
</form>